* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.container {
  header {
    background-color: #06aa48;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 1vw 0.8vw;

    @media screen and (max-width: 900px) {
      padding: 1rem 0.8rem;
    }

    h2 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5vw;

      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1vw;

      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }

      a {
        color: white;
        font-weight: bold;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: rgb(0, 255, 136);
        }
      }
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 3vw 0;

    @media screen and (max-width: 900px) {
      padding: 0 0 1rem 0;
    }

    .main-content {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.8rem;
      margin: 3vw 19.5vw;

      @media screen and (max-width: 900px) {
        margin: 1.5rem 2rem;
      }

      h1 {
        font-size: 2.3vw;
        color: #333333;

        @media screen and (max-width: 900px) {
          font-size: 1rem;
        }
      }
      p {
        color: #666666;
        font-size: 1.2vw;

        @media screen and (max-width: 900px) {
          font-size: 0.8rem;
        }
      }
    }

    .main-games {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 4vw;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
      }

      .main-table {
        @media screen and (max-width: 900px) {
          width: 85vw;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          margin: 0 2rem;
        }

        table {
          border-collapse: collapse;

          thead {
            border-top: 1px solid rgb(206, 206, 206);
            border-bottom: 1px solid rgb(206, 206, 206);
            tr {
              th {
                color: #666666;
                font-size: 0.8vw;
                text-transform: uppercase;
                width: 2vw;

                @media screen and (max-width: 900px) {
                  font-size: 0.7rem;
                  width: 1.5rem;
                }

                &.border-right {
                  border-right: 1px solid rgb(206, 206, 206);
                  text-align: left;
                }
              }
            }
          }

          tbody {
            text-align: center;

            tr {
              td {
                font-size: 1vw;
                color: #0f0f0f;
                border-bottom: 1px solid rgb(206, 206, 206);
                width: 3.1vw;

                @media screen and (max-width: 900px) {
                  font-size: 0.7rem;
                  width: 1.5rem;
                }

                &.center-left {
                  text-align: left;
                  border-right: 1px solid rgb(206, 206, 206);
                  width: 8vw;

                  @media screen and (max-width: 900px) {
                    width: 6rem;
                  }
                }

                &.bold {
                  font-weight: bold;
                }

                &.gray-background {
                  background-color: #f3f3f3;
                }
              }
            }
          }
        }

        th,
        td {
          padding: 0.5vw;

          @media screen and (max-width: 900px) {
            padding: 0.5rem;
          }
        }

        .subtitles {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          gap: 1vw;
          margin: 2vw 0;

          @media screen and (max-width: 900px) {
            gap: 0.8rem;
            margin: 0.8rem 0;
          }

          & > div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.4vw;
            color: #999999;
            font-size: 0.8vw;

            @media screen and (max-width: 900px) {
              gap: 0.3rem;
              font-size: 0.7rem;
            }
          }

          span {
            display: block;
            width: 0.6vw;
            height: 0.6vw;

            @media screen and (max-width: 900px) {
              width: 0.5rem;
              height: 0.5rem;
            }
          }
        }
      }
    }

    .main-rounds {
      text-align: center;
      position: relative;
      width: 30vw;

      .slick-arrow {
        margin: 0 2rem !important;
        z-index: 10;
      }

      .slick-slide {
        @media screen and (max-width: 900px) {
          width: 100vw;
        }
      }

      @media screen and (max-width: 900px) {
        width: 85vw;
      }

      .variable-width {
        @media screen and (max-width: 900px) {
          width: 100vw;
        }
      }

      .main-rounds-title {
        border-top: 1px solid rgb(206, 206, 206);
        border-bottom: 1px solid rgb(206, 206, 206);
        padding: 0.3vw 0;

        @media screen and (max-width: 900px) {
          padding: 0.4rem 0;
        }

        h2 {
          color: #111111;
          font-size: 1.1vw;
          text-transform: uppercase;

          @media screen and (max-width: 900px) {
            font-size: 0.8rem;
          }
        }
      }

      .round {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7vw;
        border-bottom: 1px solid rgb(206, 206, 206);
        padding: 0.5vw 0;
        margin: 0.2vw 0;

        @media screen and (max-width: 900px) {
          gap: 0.3rem;
          padding: 0.5rem 0;
          margin: 0.2rem 0;
        }

        input {
          border: 0;
          font-size: 1.1vw;
          color: #0f0f0f;
          outline: 0;
          width: 9vw;
          overflow: hidden;

          @media screen and (max-width: 900px) {
            font-size: 0.8rem;
            width: 9rem;
          }

          &.score {
            font-weight: bold;
            width: 2vw;
            border: 1px solid rgb(206, 206, 206);
            padding: 0.3rem;
            border-radius: 0.3vw;
            text-align: center;

            @media screen and (max-width: 900px) {
              width: 1.5rem;
              padding: 0.3rem;
              border-radius: 0.3rem;
            }
          }

          &.team-left {
            text-align: right;
          }

          &.team-right {
            text-align: left;
          }
        }

        img {
          width: 1.8vw;

          @media screen and (max-width: 900px) {
            width: 1.3rem;
          }
        }
      }
    }
  }
}
